.topbar {
  padding: 20px 10px;
  border-radius: 3px;
  background-color: $white;
  display: flex;
  align-items: center;

  &__hamburguer{
    cursor: pointer;
    display: none;

    @media (max-width: 650px){
      display: block;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 5px;
    margin-left: auto;
  }

  &__link{
    transition: color .2s ease;
    cursor: pointer;
    &:hover{
        color: $pink;
    }
  }
}
